.form99 {
    height: 250px ;
    width: 450px ;
}

#one {
    background-color: beige;
    font-family: sans-serif;
    position: relative;
    top : 150px;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px ;
    border: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black ;
    border-radius: 10px;
}

body {
    background-image: url("../images/index.png");
    background-repeat : no-repeat;
    background-size: cover;
    
}